/*Header Navigation*/
.header-background{
  margin: 0;
  padding: 0;
  height: auto;
  background-color: $pink-logo;
}

//Header Menu layout Mobile size
#masthead{
  display: grid;

  grid-template-rows: 1fr 190px;
  grid-template-columns:1fr;
  padding: 0;

  background-color: $pink-logo;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.custom-logo-link{
  text-align: center;
}

.custom-logo{
  height: 150px;
  width: 150px;
}

//Positioning the logo text vertically
.site-branding{
  display: flex;

  grid-row:1;

  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;

<<<<<<< HEAD
  color: $header-text;

  align-content: center;
=======
    color: $header-text;

    align-content: center;
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c
}

//Positioning Logo Title
.site-title{
  margin-top: -20px;
  align-self: center;
  justify-content: flex-start;

<<<<<<< HEAD
  h1{
    text-align: center !important;
    color: $post-title !important;
    font-size: 1.5em !important;
  }
=======
    h1{
      text-align: center !important;
      color: $post-title !important;
      font-size: 1.5rem !important;
    }

    a{
        color: $header-text;
        text-decoration: none;
    }

    a:visited{
        color: $header-text;
    }
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c

  a{
    color: $header-text;
    text-decoration: none;
  }

  a:visited{
    color: $header-text;
  }
}

//Positioning Header Menu Mobile Size
#site-navigation{
  grid-row: 2;

  justify-content: end;
  align-items:end;

  margin-top: -10px;
}

//Positioning the Menu Vertically
#primary-menu{
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  margin: 0;
  padding: 0;
}

//Stylizing the Menu
#primary-menu li{
  list-style-type: none;
  margin: 10px;
  text-align: center;
  /*line-height: 150px;*/
}

#primary-menu{
  a{
    text-decoration: none;
    color: $header-text;
<<<<<<< HEAD
    font-size: 1.2em;
  }

  /*Menu hover scale effect*/
  li{
    transition: 0.5s;
  }

  li:hover{
    @include animation-increase();
  }
=======
    font-size: 1.2rem;
    }

    /*Menu hover scale effect*/
    li{
    transition: 0.5s;
    }
    li:hover{
      @include animation-increase();
    }
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c
}

/*End Header Navigation*/

/*.social-navigation*/
#colophon{
  padding: 0;
  background-color: $dark-purple;
  margin-bottom: 0;
  height: 150px;
}

//Positioning footer sozil Menu horizontally
#menu-social{
  display: flex;

  margin-left: -40px;
  margin-top: -55px;;

  flex-direction:row;
  align-items: center;
  justify-content: center;

  flex-wrap:wrap;

  //Including Font Awesome Icons in the Social Menu
  a[href*="facebook"]:before {
    content: "\f082";
    font-family: "Font Awesome 5 Brands";
    text-decoration: none;
    font-size: 2.5em;
  }

  a[href*="twitter"]:before {
    content: "\f081";
    font-family: "Font Awesome 5 Brands";
    text-decoration: none;
    font-size: 2.5em;
  }

  a[href*="pinterest"]:before {
    content: "\f0d3";
    font-family: "Font Awesome 5 Brands";
    text-decoration: none;
    font-size: 2.5em;
  }

  a[href*="youtube"]:before {
    content: "\f431";
    font-family: "Font Awesome 5 Brands";
    text-decoration: none;
    font-size: 2.5em;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: $color-icon;
    font-size: 1em;

    transition: 0.5s;
<<<<<<< HEAD
  }
=======
}
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c

  a:visited{
    color: $color-icon;
  }

<<<<<<< HEAD
  a:hover{
    @include animation-increase();

  }
  li {
    list-style:none;
    padding: 7px;
  }
=======
a:hover{
    @include animation-increase();

}
li {
  list-style:none;
  padding: 7px;
}
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c
}

.site-info{
  margin-top: -33px;
  color: $footer-text;
  text-align: center;
  p{
    margin: 0;
  }
}

.connect{
<<<<<<< HEAD
  font-size: 1.5em;
  color: $footer-text;
  text-align: center;
  margin-bottom: -10px;
  padding-top: 16px;
=======
    font-size: 1.5rem;
    color: $footer-text;
    text-align: center;
    margin-bottom: -10px;
    padding-top: 25px;
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c
}

//Hiding the Header Menu line
header hr{
  display: none;
}

@media screen and(min-width: 550px){

<<<<<<< HEAD
  /*Header*/
  .header-background{
=======


@media screen and(min-width: 550px){
    /*Header*/
    .header-background{
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c
    height: 150px;
  }

  //Changing the Menu layout Horizontally (Desktop size)
  #masthead{
    grid-template-rows: 1fr;
    grid-template-columns:320px auto;
    max-height: 150px;
  }

  .site-branding{
    grid-column:1;
  }

  .custom-logo-link{
    text-align: left;
  }

  .site-branding{
    flex-direction: row;
    flex-wrap: wrap;

    align-content: end;
  }

  .site-title{
    margin-top: 0px;
    align-self: flex-end;
    justify-content: flex-start;
<<<<<<< HEAD
=======

    h1{
      font-size: 2rem !important;
    }
}
>>>>>>> 6e9b7fd79877de84b84e14adca06c623422ad94c

    h1{
      font-size: 2em !important;
    }
  }

  //Positioning the Menu Nav
  #site-navigation{
    display: grid;

    grid-column: 2;
    grid-row: 1;

    border-bottom: 2px solid white;
    padding-bottom: 0px;
    max-height: 122px;

    margin-top: 0px;
    padding-right: 10px;
  }

  //Showing line in the Header Menu
  header hr{
    display: inline;
    margin-bottom: 0;
    padding-top: -20px;
  }

  //Positioning the nav horizontally and in the right side
  #primary-menu{
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-end;
    align-items: flex-end;
  }
}
